*{
    margin:0;
    padding: 0;
}

body{
    background-image:url(img/fondo.jpg);
    background-size: cover;

    margin: 150px 150px 0px 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

p{
    text-align: right;
    font-size: 17pt;
    color: white;
    padding-top: 20px;
    font-style: oblique;
    font-weight: lighter;
}

img {
    margin: 10px;
    border-radius: 20px;
    filter: grayscale(0%);
}

a:hover img {
    filter:drop-shadow(8px 8px 10px rgb(0, 0, 0));
    filter: grayscale(100%);

}

h1{
    font-size: 40pt;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200px;
}

h2{
    font-size: 20pt;
    font-style: oblique;
    font-weight: lighter;
    color: white;
}

hr{
    color: white;
    border: ;
    margin-bottom: 20px;
}

th.texto{
    width: 40%;
    text-align: left;
    vertical-align: top;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-end;
    

}
