body{
    background-color: lightgray;
    margin-left:30px ;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

h1{
    font-size: 60px;
    color:whitesmoke;
    text-align: center;
    padding-right: 15px;
}
section{
    box-sizing: border-box;
    width: 30vw;
    background-color:white;
    margin-right: 20px;
    margin-top: 20px;
    border-color: darkgrey;
    border-style: dotted;
    border-width: 3px;
    padding: 10px;
}

@font-face {
    font-family: propia;
    src: url(NotoSerif-Regular.ttf);/*importar tipografías del sistema PERO EL FORMATO TIENE QUE SER SIEMPRE .WOFF*/
  }

#uno {
    font-family: 'Montserrat', sans-serif;
}

#dos{
    font-family: 'propia';

}

#tres{
    font-family: 'Righteous';
}

#cuatro{
    font-family: 'Comforter Brush', cursive;
}

#cinco{
    font-family: 'Cutive Mono', monospace;
}

#seis{
    font-family: 'Indie Flower', cursive;
}

i{
    padding-right: 20px;
}
