*{
    padding: 0;
    margin: 0;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

body{
    background-color: rgb(253, 249, 215);

}

div {
    box-sizing: border-box;
}

/*Preguntar per:
- El desplaçament, crec que es row
- Fer pantalla completa
- Per què no canvia la grandarie de la lletra, pero en <p> si funciona??
- El format de l'etiqueta <a>
*/

h1{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 30px;

    padding-top: 10px;
    padding-bottom: 10px;
}

h2{
    font-size: 150pt;  
}

h3{
    font-size: 20pt;
    letter-spacing: 2px;
}

p{
    text-align: center;
    font-size: 12pt;
    font-style: oblique;
    
}

nav{
    padding-top: 120px;
    padding-bottom: 120px;
}
nav ul{
    margin-top: 30px;
    list-style:none;
}

nav li{
    text-align: center;
    font-size: 30pt;
    letter-spacing: 3px;
}

nav a {
    text-decoration:none;/*No funciona*/
    color: black;
}

a{
    text-decoration: none;/*Lo mateix*/
}

button.inicio{
    color:black;
    background: none;
    border-style: dashed;
    border-radius: 50px;
    border-color: black
    border-width: 3px;
    padding: 10px;
}

button.inicio:hover{
    background-color: black;
    border:none;
    color: white;
}

footer button{
    color: white;
    background: none;
    border:none;
    text-align: center;
    font-size: 20pt;
    float:;
}

footer img{
    width: 15%;
    height: auto;
    padding-top: 10px;
    
}

footer{
    border-top: groove black 4px;

}
.igualar{
    align-items: center;    
}

.txtblanco{
    text-align: center; 
    font-size:20pt;
    font-style: oblique;
    padding-top: 15px;
    color: ;
}

.txtcarrusel{
    font-size: 15pt;
    margin-top: 6px;
}

.desactivado{
    opacity: 50%;
}

.carousel-inner img {
    width: 50%;
    height: auto;
  }

#retrato{
    width: 60%;
    justify-content: flex-end;
    margin-top  : 50px;
    margin-bottom: 50px;


}

#contacto{
    background-color: black;
}

#cookies{
    display: flex;
    justify-content: center;
    background-color: gray;
    color: white;
    /*comprovar perquè desapareix el paràgraf de baix*/
}

#menu{
    display: flex;
    flex-flow: column nowrap;
   
    border-right: groove black 4px;
}
#hoja{
    width: 50%;
    
    float: right;
    
}

/*#hojamovida{
    float: right;
    width: 50%;
}*/


#horizontal{
    border-top: groove black 2px;
}

#boton {
    text-align: center;
}

#botoninicio{
    border-color: black;
    border-width: 2pt;
    border-radius: 50px;
    border: dotted;
    padding: 10px 20px;
    color: black;
    background: none;
}

#botoninicio a{
    color: black;
}


