div{
    box-sizing: border-box;
    border-style:groove;
    border-color: black;
    border-width: 1px;
    padding: 10px;
}
body{
    margin-left: 20px;
    margin-right: 20px;
    background-color: red;
}

